@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 1060px;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #e5e5e5;
  color: #000000;
  margin: 0 auto;
  max-width: 1200px;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Header */

.header-page {
  min-width: 1060px;
  color: #000000;
  background-color: #ffffff;
  min-height: 70px;
}

.page-logo {
  width: 139px;
  margin-right: 30px;
}

.navigation-logo {
  position: relative;
  z-index: 10;
  margin-bottom: -5px;
}

.navigation {
  position: relative;
  width: 1060px;
  display: flex;
  margin: 0 auto;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-user {
  margin-left: auto;
}

.navigation-user .navigation-link {
  min-width: 16px;
  min-height: 22px;
  padding-top: 19px;
  padding-bottom: 19px;
  padding-left: 10px;
  padding-right: 10px;
}

.navigation-link {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  color: #000000;
}
.navigation-link:after {
  display: block;
  content: "";
  height: 2px;
  width: 0%;
  background-color: #615048;
  transition: width 0.2s ease-in-out;
}

.navigation-link:hover:after,
.navigation-link:focus:after {
  width: 100%;
}
.navigation-link:hover {
  color: #756257;
}

.navigation-icon {
  fill: #000000;
}

.navigation-link:hover .navigation-icon {
  fill: #756257;
}

.navigation-link:active .navigation-icon {
  fill: rgba(117, 98, 87, 0.3);
}

.navigation-link:active {
  color: rgba(117, 98, 87, 0.3);
}

.navigation-link:nth-child(1) {
  padding-left: 15px;
}

.navigation-link.navigation-button {
  color: #ffffff;
  background-color: #615048;
  margin-top: 13px;
  margin-left: 17px;
  border-radius: 4px;
  padding: 8px 34px;
}

.navigation-button:hover {
  background-color: #615048;
}

.navigation-button:focus {
  outline: 4px solid #83b3d3;
  background-color: #615048;
}

.navigation-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.navigation-button {
  padding: 0;
  margin: 0;
  color: #ffffff;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.button-count {
  font-weight: 400;
  font-size: 10px;
  color: #ffffff;
  background-color: #7db54f;
  border-radius: 10px;
  position: absolute;
  z-index: 2;
  min-width: 20px;
  height: 20px;
  text-align: center;
  line-height: 19px;
  top: 13px;
  right: 176px;
}

.button-count:active {
  color: rgba(117, 98, 87, 0.3);
}

/* Main */

.main-container {
  flex-grow: 1;
}

.main-index {
  color: #000000;
  background-color: #ffffff;
}

.description {
  margin-top: -5px;
}

.container {
  position: relative;
  background-image: url(../images/background-1.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.container::after {
  content: "";
  position: absolute;
  z-index: 5;
  bottom: 0;
  width: 100%;
  height: 57px;
  background: url(../images/content.svg) no-repeat;
  background-size: 100% 57px;
}

.logo {
  padding-top: 50px;
  padding-bottom: 82px;
  display: block;
  margin: 0 auto;
}

.sedona-title {
  display: block;
  padding-top: 60px;
  margin: 0;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.sedona-text {
  display: block;
  padding-top: 30px;
  margin: 0;
  font-weight: 400;
  font-size: 22px;
  line-height: 36px;
  text-align: center;
}

.sedona-cause {
  height: 282px;
}

.advantages-container {
  display: flex;
  justify-content: space-between;
}

.advantages-wrapper {
  background-color: #83b3d3;
  text-align: center;
  width: 400px;
}

.advantages-title {
  color: #ffffff;
  font-size: 24px;
  line-height: 28px;
  padding-top: 98px;
  margin: 0;
  text-transform: uppercase;
}

.advantages-image {
  width: 800px;
  height: 384px;
}

.attraction {
  display: flex;
  justify-content: space-between;
}

.advices-list {
  margin: 0;
  padding: 0;
  min-height: 384px;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.advices-item {
  width: 400px;
  position: relative;
}

.attraction-sedona {
  background: rgba(131, 179, 211, 0.2);
  text-align: center;
  width: 400px;
}

.attraction-sedona-one {
  background: rgba(131, 179, 211, 0.12);
  text-align: center;
  width: 400px;
  min-height: 384px;
}

.attraction-text {
  margin: 0;
  padding-top: 30px;
  padding-bottom: 90px;
}

.attraction-title {
  margin: 0;
  padding-top: 98px;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.attraction-number {
  margin: 0;
  padding-top: 29px;
}

.advantages-text-number {
  margin: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #ffffff;
  font-size: 18px;
  line-height: 21px;
}

.advantages-text {
  margin: 0;
  color: #ffffff;
  font-size: 18px;
  line-height: 21px;
  padding-bottom: 30px;
}

.advices-house {
  background: rgba(131, 179, 211, 0.12);
  text-align: center;
  padding-top: 186px;
  padding-bottom: 71px;
}

.advices-house::after {
  background-image: url(../images/icon/icon-1.svg);
  content: "";
  position: absolute;
  display: block;
  width: 75px;
  height: 72px;
  background-repeat: no-repeat;
  background-position: center;
  top: 89px;
  right: 153px;
  bottom: 35px;
  transform: translateX(-12%);
}

.advices-name {
  font-size: 24px;
  line-height: 28px;
}

.advices-food {
  text-align: center;
  padding-top: 184px;
  padding-bottom: 73px;
}

.advices-food::after {
  background-image: url(../images/icon/icon-2.svg);
  content: "";
  position: absolute;
  display: block;
  width: 74px;
  height: 70px;
  background-repeat: no-repeat;
  background-position: center;
  top: 91px;
  right: 153px;
  bottom: 23px;
  transform: translateX(-12%);
}

.advices-present {
  background: rgba(131, 179, 211, 0.12);
  text-align: center;
  padding-top: 184px;
  padding-bottom: 70px;
}

.advices-present::after {
  background-image: url(../images/icon/icon-3.svg);
  content: "";
  position: absolute;
  display: block;
  width: 64px;
  height: 76px;
  background-repeat: no-repeat;
  background-position: center;
  top: 85px;
  right: 158px;
  bottom: 23px;
  transform: translateX(-12%);
}

.quest {
  text-align: center;
  height: 417px;
}

.quest-title {
  margin: 0;
  padding-top: 90px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.quest-text {
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  padding: 29px 0 57px 0;
}

.button-hotel {
  font-family: inherit;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  font-weight: 700;
  background-color: #756257;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  min-width: 575px;
  height: 60px;
  font-size: 20px;
  line-height: 36px;
  transition: 0.2s;
}

.button-hotel:hover {
  background-color: #615048;
  transition: 0.2s;
}

.button-hotel:focus {
  outline: 3px solid #83b3d3;
  background-color: #615048;
}

.button-hotel:active {
  color: rgba(255, 255, 255, 0.3);
}

.email-form {
  min-height: 410px;
  background-image: url(../images/background-2.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  text-align: center;
}

.email-title {
  padding-top: 94px;
  margin: 0;
  color: #ffffff;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.email-text {
  margin: 0;
  padding-top: 30px;
  padding-bottom: 46px;
  color: #ffffff;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

/* Footer */

.page-footer {
  color: #000000;
  background-color: #ffffff;
}

.page-footer-container {
  display: flex;
  min-height: 120px;
  width: 1060px;
  justify-content: space-between;
  margin: 0 auto;
}

.footer-social-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 44px;
  margin-top: 39px;
  margin-left: -14px;
}

.footer-social-item:nth-child(3n) {
  margin-right: 0;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-button {
  padding: 12px 20px;
}

.footer-icon {
  fill: #83b3d3;
}

.footer-button:hover .footer-icon {
  fill: #68a2ca;
}

.footer-button:focus {
  box-sizing: content-box;
  outline: none;
  border: 3px solid #83b3d3;
  border-radius: 10px;
}

.footer-button:active .footer-icon {
  opacity: 0.3;
}

.footer-contacts-address-phone {
  padding: 10px;
  color: #000000;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  font-style: normal;
  text-decoration: none;
}

.footer-contacts-address-phone:hover {
  color: #756257;
}

.footer-contacts-address-phone:focus {
  outline: 3px solid #83b3d3;
  border-radius: 10px;
}

.footer-contacts-address-phone:active {
  fill: rgba(117, 98, 87, 0.3);
}

.footer-tel {
  margin-top: 40px;
  text-align: center;
}

.footer-logo {
  fill: #000000;
  padding: 15px;
}

.footer-img {
  display: block;
  margin-top: 28px;
  margin-right: -10px;
}

.footer-logo:hover {
  fill: #756257;
}

.footer-img:focus {
  outline: 3px solid #83b3d3;
  border-radius: 10px;
}

.footer-logo:active {
  opacity: 0.3;
}

/* Catalog */

.main-inner {
  margin-top: -5px;
  color: #000000;
  background-color: #ffffff;
}

.inner-container {
  background-image: url(../images/background-3.jpg);
  background-repeat: no-repeat;
  padding-bottom: 25px;
  background-size: cover;
}

.inner-header-title {
  margin: 0;
  padding-top: 35px;
  padding-left: 70px;
  color: #ffffff;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs-link {
  border-radius: 4px;
  padding: 0 5px;
  color: #ffffff;
  text-decoration: none;
}

.breadcrumbs-link-icon {
  border: none;
  padding: 5px;
}

.breadcrumbs-item {
  list-style-type: none;
}

.breadcrumbs {
  margin-bottom: 0;
  margin-top: -5px;
  margin-left: 68px;
  padding: 0;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  display: flex;
}

.breadcrumbs:hover {
  opacity: 0.6;
}

.breadcrumbs-link:focus {
  outline: 3px solid #83b3d3;
}

.breadcrumbs:active {
  opacity: 0.3;
}

.filters-container-form {
  display: flex;
  justify-content: end;
  margin-right: 70px;
}

.button-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 50px;
}

.field {
  padding: 0 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  width: 560px;
  height: 61px;
  border-radius: 10px 0 0 10px;
  outline: none;
  border: none;
}

.field:hover {
  background-color: #e6e6e6;
  transition: 0.2s;
}

.field:focus {
  outline: 3px solid #83b3d3;
}

.field:invalid {
  outline: 2px solid #ff5757;
}

.field-catalog {
  background-color: #f2f2f2;
}

.newsletter-form {
  display: flex;
  justify-content: center;
}

.newsletter-button {
  background-color: #83b3d3;
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  font-family: inherit;
  min-width: 200px;
  height: 61px;
  border-radius: 0 10px 10px 0;
  outline: none;
  border: none;
}

.newsletter-button:hover {
  background-color: #68a2ca;
  transition: 0.2s;
}

.newsletter-button:focus {
  outline: 2px solid #756257;
}

.newsletter-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-form {
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  font-weight: 700;
  background-color: #83b3d3;
  margin-bottom: 18px;
  font-family: inherit;
  cursor: pointer;
  width: 160px;
  min-height: 48px;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  border-radius: 4px;
  border: none;
}

.button-form-two {
  padding: 4px;
  margin: 0 auto;
  width: 100px;
  color: #ffffff;
  cursor: pointer;
  font-weight: normal;
  font-size: 18px;
  background-color: transparent;
  border: none;
}

.button-form-two:hover {
  color: rgba(255, 255, 255, 0.6);
  transition: 0.2s;
}

.button-form-two:focus {
  border-radius: 4px;
  outline: 3px solid #83b3d3;
}

.butt0n-form-two:active {
  color: rgba(255, 255, 255, 0.3);
}

.form-filters__wrapper-left {
  margin-top: auto;
  margin-left: 70px;
}

.form-filters__wrapper-right {
  margin-top: 20px;
  margin-right: 80px;
}

.catalog-filter-group {
  margin: 0;
  border: 0;
  padding: 0;
}

.control-mark:focus {
  outline: 2px solid #83b3d3;
}

.form-filters__legend {
  color: #ffffff;
  margin: 0;
  font-size: 20px;
  font-weight: 700;
}

.form-filters__interval {
  width: 287px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  margin-bottom: 0;
  padding: 11px 0;
  border: 2px solid #ffffff;
  border-radius: 4px;
}

.form-filters__interval:hover {
  border-color: rgba(255, 255, 255, 0.692);
  outline: 3px solid #68a2ca;
}

.form-filters__interval:active {
  background-color: #756257;
}

.form-filters__interval:hover::after {
  outline: 3px solid #68a2ca;
}

.form-filters__label {
  display: block;
  width: 40%;
  padding: 2px 14px;
  text-align: left;
  display: flex;
  justify-content: space-between;
  color: rgba(255, 255, 255, 0.692);
}

.form-filters__input-text {
  box-sizing: border-box;
  padding-left: 1px;
  padding-right: 2px;
  max-width: 49%;
  border: 0;
  font: inherit;
  color: #ffffff;
  background: 0;
  background-image: url(../images/calrndar.svg);
}

.form-filters__interval::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 48px;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.8);
}

.form-filters__input-text-one {
  box-sizing: border-box;
  padding-left: 1px;
  padding-right: 2px;
  max-width: 49%;
  border: 0;
  font: inherit;
  color: #ffffff;
  background: 0;
}

.form-filters__range {
  position: relative;
  margin: 25px 0 32px;
}

.form-filters__range-scale {
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
}

.form-filters__range-bar {
  width: 75%;
  height: 4px;
  background-color: #ffffff;
}

.form-filters__range-handle--min {
  left: 0;
}

.form-filters__range-handle--max {
  left: 74%;
}

.form-filters__range-handle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 0;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border: 9px solid #ffffff;
  border-radius: 5px;
  cursor: pointer;
}

.form-filters__range-handle:focus {
  outline: 3px solid #83b3d3;
}

.form-filters__range-handle:active {
  outline: 2px solid #83b3d3;
}

.sorting-container {
  display: flex;
  justify-content: space-between;
  margin-top: 45px;
  margin-bottom: 66px;
}

.sorting-select {
  display: flex;
  margin-right: -10px;
}

.sorting-select .button-sorting {
  width: 48px;
  height: 48px;
  margin-right: 8px;
}

.button-sorting {
  border: 2px solid #e6e6e6;
  border-radius: 4px;
  justify-content: center;
  display: flex;
  align-items: center;
}

.button-sorting:hover {
  outline: 2px solid #83b3d3;
}

.button-sorting:focus {
  outline: 2px solid #000000;
}

.catalog-filter {
  padding-bottom: 20px;
  margin-top: 22px;
  display: flex;
  justify-content: space-between;
}

.catalog-filter-list {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  list-style-type: none;
  padding: 0;
  margin-top: 29px;
}

.catalog-filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  color: #ffffff;
  margin-right: 67px;
}

.catalog-filter-item {
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 14px;
}

.control {
  position: relative;
  display: block;
  padding-left: 36px;
}

.control:hover .control-mark {
  opacity: 0.3;
}

.control-input:focus + .control-mark {
  outline: 3px solid #83b3d3;
}

.control-mark {
  position: absolute;
  left: 0;
  width: 18px;
  height: 18px;
  background-color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 4px;
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  position: absolute;
  top: 4px;
  left: 3px;
  width: 12px;
  height: 9px;
  background-repeat: no-repeat;
  background-image: url(../images/filter-form.svg);
  content: "";
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 10px;
  height: 10px;
  background-color: #3f5e72;
  border-radius: 50%;
  content: "";
}

.button-form:hover {
  background-color: #68a2ca;
}

.button-form:focus {
  outline: 3px solid #ffffff;
}

.button-form:active {
  color: rgba(255, 255, 255, 0.6);
}

.sorting {
  width: 1060px;
  margin: 0 auto;
}

.sorting-name {
  margin: 0;
  font-weight: bold;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
}

.select-control {
  font-family: inherit;
  padding: 1px 11px;
  border-radius: 4px;
  border-color: #e5e5e5;
  width: 287px;
  height: 48px;
  font-size: 18px;
  line-height: 23px;
  margin-right: 70px;
  background-image: url(../images/form.svg);
  background-repeat: no-repeat;
  appearance: none;
  background-color: #ffffff;
  background-position: 94% center;
}

.select-control:hover {
  outline: 2px solid #83b3d3;
}

.select-control:focus {
  outline: none;
  border: 2px solid #83b3d3;
}

.select-control:active {
  opacity: 0.3;
}

.hotel-list {
  margin-left: 23px;
  margin-bottom: 8px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.hotel-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 9px;
}

.hotel-card {
  margin-right: 59px;
}

.hotel-card-image:hover {
  opacity: 0.6;
}

.hotel-card-link:focus .hotel-card-image {
  outline: 3px solid #83b3d3;
}

.hotel-card-image:active {
  opacity: 0.3;
}

.hotel-card:nth-child(3) {
  margin: 0;
}

.hotel-card:nth-child(4) {
  margin: 0;
}

.hotel-card-title {
  margin: 0;
  padding: 16px 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
}

.hotel-card-link {
  color: #000000;
  text-decoration: none;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
}

.hotel-info {
  margin: 0;
  font-size: 18px;
  line-height: 23px;
}

.hotel-card-price {
  margin: 0;
  font-size: 18px;
  line-height: 23px;
}

.hotel-card-button {
  display: block;
  border-radius: 4px;
  text-align: center;
  width: 134px;
  min-height: 30px;
  padding-top: 12px;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  background-color: #756257;
  text-transform: uppercase;
}

.hotel-card-button:focus {
  outline: 2px solid #83b3d3;
  background-color: #615048;
}

.hotel-card-button:hover {
  background-color: #615048;
  transition: 0.2s;
}

.hotel-card-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.hotel-favorites {
  display: block;
  text-align: center;
  border-radius: 4px;
  width: 139px;
  min-height: 29px;
  padding-top: 12px;
  text-decoration: none;
  background-color: #83b3d3;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
}

.hotel-favorites:focus {
  outline: 2px solid #756257;
  background-color: #68a2ca;
}

.hotel-favorites:hover {
  background-color: #68a2ca;
  transition: 0.2s;
}

.hotel-favorites:active {
  color: rgba(255, 255, 255, 0.3);
}

.favorites-color {
  background-color: #7db54f;
}

.favorites-color:hover {
  background-color: #6c9e42;
}

.favorites-color:focus {
  background-color: #6c9e42;
}

.hotel-flex {
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 41px;
}

.hotel-rating {
  text-align: center;
  width: 160px;
  min-height: 30px;
  padding-top: 8px;
  border-radius: 4px;
  background-color: #f2f2f2;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
}

.hotel-stars {
  background-image: url(../images/star.svg);
  background-repeat: space;
  max-width: 110px;
  height: 17px;
  margin-top: 10px;
}

.stars-four {
  width: 81px;
}

.stars-tree {
  width: 68px;
}

.stars-two {
  width: 43px;
}

.pagination-container {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 70px;
}

.pagination {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.pagination-border {
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}

.pagination-show-more {
  display: block;
  margin: 0 auto;
  width: 620px;
  border-radius: 4px;
  padding-top: 17px;
  padding-bottom: 17px;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  background-color: #83b3d3;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
}

.pagination-show-more:hover {
  background-color: #68a2ca;
  transition: 0.2s;
}

.pagination-show-more:focus {
  outline: 2px solid #756257;
}

.pagination-show-more:active {
  color: rgba(255, 255, 255, 0.3);
}

.pagination-link {
  display: block;
  border-radius: 4px;
  width: 55px;
  min-height: 55px;
  text-align: center;
  padding-top: 13px;
  box-sizing: border-box;
  text-decoration: none;
  color: #ffffff;
  background: #83b3d3;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.pagination-link:hover {
  background-color: #68a2ca;
  transition: 0.2s;
}

.pagination-link:focus {
  color: #000000;
  outline: 2px solid #756257;
  background-color: #f2f2f2;
}

.pagination-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.number {
  margin-left: auto;
  padding-left: 30px;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

.select-number {
  font-family: inherit;
  margin-left: 50px;
  padding: 0 13px;
  border-radius: 4px;
  border-color: #e5e5e5;
  height: 48px;
  width: 160px;
  font-weight: 400;
  font-size: 18px;
  background-image: url(../images/form.svg);
  background-repeat: no-repeat;
  appearance: none;
  background-color: #ffffff;
  background-position: 89% center;
}

.select-number:hover {
  outline: 2px solid #83b3d3;
}

.select-number:focus {
  outline: none;
  border: 2px solid #83b3d3;
}

.select-number:active {
  opacity: 0.3;
}

.email-form-two {
  min-height: 240px;
  text-align: center;
  padding-bottom: 137px;
}

.email-name-two {
  margin: 0;
  padding-bottom: 46px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
}

.email-text-two {
  margin: 0;
  padding-bottom: 46px;
  font-size: 22px;
  line-height: 26px;
}

/* Modal */

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  z-index: 11;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal {
  position: relative;
  padding: 60px;
  margin: auto;
  background-color: #ffffff;
}

.modal-auth {
  border-radius: 30px;
  width: 600px;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 57px;
  right: 72px;
  width: 50px;
  height: 48px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 50%;
  background-image: url(../images/modal-close.svg);
  background-repeat: no-repeat;
  background-position: 51% center;
  cursor: pointer;
}

.modal-close-button:hover {
  background-color: #e6e6e6;
}

.modal-close-button:active {
  opacity: 0.3;
}

.modal-close-button:focus {
  outline: 3px solid #83b3d3;
}

.modal-title {
  margin-top: 0;
  margin-bottom: 64px;

  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 40px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.form-search__input-block {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin-bottom: 30px;
  align-items: center;
  font-weight: 700;
  line-height: 40px;
}

.form-search__input-block-one {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin-bottom: 40px;
  align-items: center;
  font-weight: 700;
  line-height: 40px;
}

.form-search__input {
  display: flex;
}

.form-search__label {
  display: block;
  width: 155px;
  color: #000000;
}

.form-search__input-text {
  box-sizing: border-box;
  padding: 0 20px;
  border: 0;
  border-radius: 4px;
  width: 420px;
  height: 50px;
  font: inherit;
  font-size: 18px;
  background-color: #f2f2f2;
  background-repeat: no-repeat;
  background-image: url(../images/calrndar.svg);
  background-position: 95% center;
}

.form-search__input-text:hover {
  outline: 3px solid #68a2ca;
  background-color: #e6e6e6;
}

.form-search__input-text:focus {
  outline: 3px solid #000000;
  background-color: #ffffff;
}

input::placeholder {
  color: #000000;
}

.form-search__input-text-two {
  box-sizing: border-box;
  padding: 0 20px;
  border: 0;
  width: 420px;
  height: 50px;
  font: inherit;
  font-size: 18px;
  outline: 0px solid #f2f2f2;
  background-color: #f2f2f2;
}

.form-search__quantity {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 226px;
  margin-left: 9%;
}

.form-search__quantity-one {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 292px;
}

.form-search__button {
  position: relative;
  display: block;
  border: 0;
  width: 50px;
  height: 50px;
  font: inherit;
  background-color: #f2f2f2;
  cursor: pointer;
}

.form-search__button-minus:active::before {
  opacity: 0.3;
}
.form-search__button-minus::before {
  transform: translate(-50%, -50%);
  width: 12px;
  height: 1px;
}

.form-search__button-minus:hover::before {
  background-color: #000000;
}

.form-search__button::after,
.form-search__button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #a9a9a9;
}

.form-search__input-number {
  padding: 0;
  width: 38px;
  text-align: center;
}

.form-search__button-plus::before {
  transform: translate(-50%, -50%);
}

.form-search__button-plus:hover::before {
  background-color: #000000;
}

.form-search__button-plus:active::before {
  opacity: 0.3;
}

.form-search__button-plus:hover::after {
  background-color: #000000;
}

.form-search__button-plus:active::after {
  opacity: 0.3;
}

.form-search__button-plus::after,
.form-search__button-plus::before {
  width: 11px;
  height: 1px;
}

.form-search__button-plus::after {
  transform: translate(-50%, -50%) rotate(90deg);
}

.button-blue {
  font-family: inherit;
  width: 100%;
  padding: 18px 10px;
  border-radius: 10px;
  border: none;
  background-color: #83b3d3;
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
}

.button-blue:hover {
  background-color: #68a2ca;
}

.button-blue:focus {
  outline: 3px solid #756257;
}

.button-blue:active {
  color: rgba(242, 242, 242, 0.8);
}

.modal-container-close {
  display: none;
}

.form-label-icon {
  position: relative;
  padding-right: 16px;
}

/* Tooltip */

.tooltip-toggle {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  display: block;
}

.tooltip-icon {
  width: 100%;
  height: 100%;
  color: #83b3d3;
  display: block;
}

.tooltip-toggle:hover .tooltip-icon {
  color: #68a2ca;
}

.tooltip-text {
  background-color: #333333;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: none;
  padding: 15px 18px;
  border-radius: 10px;
  display: block;
  width: 214px;
  margin-top: 15px;
  left: 50%;
  transform: translateX(-45%);
  display: none;
}

.tooltip-text::after {
  content: "";
  background-image: url(../images/tooltip-top.svg);
  width: 19px;
  height: 9px;
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.tooltip {
  position: absolute;
  margin-top: 0;
  margin-left: 73px;
  width: 25px;
  height: 25px;
  z-index: 1;
}
